* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h5 {
  text-align: center;
}

.btn-primario {
  color: white;
  font-size: 16px;
  background-color: black;
  text-decoration: none;
  border-radius: 10%;
  padding: 8px;
  line-height: 24px;
}

.btn-primario:hover {
  color: #dcb14a;
  font-size: 18px;
  background-color: black;
  text-decoration: none;
  border-radius: 10%;
  padding: 8px;
  cursor: pointer;
}

.alinear_centro {
  text-align: center;
}

/* ------- Index Page ------- */

.logo_responsive {
  display: none;
}
.nav-link {
  color: black !important;
  font-weight: bold !important;
}
.nav-link:hover {
  color: #dcb14a !important;
}
.hero {
  min-height: 30rem;
  background-image: url("/assets/fotos/hero-banner-alt.jpg");
  background-size: cover;
  background-position: center;
}

.item_title {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.04);
  font-size: 0.8rem;
}

.item_title:hover {
  opacity: 0.9;
  color: #dcb14a;
  background-color: #ffff;
}

.columns p {
  text-align: center !important;
}

.top_products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2px;
}

/* -------PRODUCTS PAGE (ELECTRONICS, JEWELERY,MENS, WOMENS)------- */
.hero_electronics {
  min-height: 25rem;
  background-image: url("./assets/fotos/electronics_hero.jpg");
  background-size: cover;
  background-position: center;
}
.hero_jewelery {
  min-height: 25rem;
  background-image: url("./assets/fotos/jewelery_hero.jfif");
  background-size: cover;
  background-position: center;
}
.hero_mens {
  min-height: 25rem;
  background-image: url("./assets/fotos/mens_hero.jpg");
  background-size: cover;
  background-position: center;
}
.hero_womens {
  min-height: 25rem;
  background-image: url("./assets/fotos/womens_hero.jpg");
  background-size: cover;
  background-position: center;
}
.img-prducts {
  height: 150px !important;
  width: 150px !important;
}
.border_cards {
  border: 0 !important;
}

@media only screen and (max-width: 992px) {
  .hero_electronics,
  .hero_jewelery,
  .hero_womens {
    background-position: left;
  }
  .logo_responsive {
    display: block;
  }
  .logo {
    display: none;
  }
}
